.card {
  margin-bottom: 1.2rem;
}

tbody th {
  cursor: pointer;
}

.edit-view, .loaded {
  display: none;
}

.ui-sortable-placeholder {
  background-color: $info;
  border: 1px dashed $card-cap-bg;
}

.ui-sortable-handle {
  cursor: pointer;
}