body {
  background-color:  $gray-500;
}

.jumbotron {
  background: $color5;
  color: $color2;
  margin: 50px;
  border: 1px solid $color2;
}

.btn {
  color: $white;
  background: $color2;
  margin-left: 5px;
  border: 1px solid $color3;
}
.btn:hover {
  color: $white;
  background: $color2;
  border: 1px solid $color2;
}

#logout {
  color: $color2;
  background: $color5;
}

#logout:hover {
  color: $cyan;
  background: $color2;
  border: 1px solid $color3;
}

.card {
  margin-bottom: 1.2rem;
}

tbody th {
  cursor: pointer;
}

.edit-view, .loaded, .option {
  display: none;
}

#round-print, #round-print * {
  visibility: hidden;
}
.ui-sortable-placeholder {
  background-color: $info;
  border: 1px dashed $card-cap-bg;
}

.ui-sortable-handle {
  cursor: pointer;
}

#round-print {
  font-size: 2rem;
}
#round-print th, #round-print td {
  padding: 1rem;
}
#round-print tr {
  border-bottom: 1px solid $black;
}
#round-print tr:last-of-type {
  border-bottom: none;
}
#round-print table {
  width: 100%;
  border: 1px solid $black;
}

.octicon {
  color: $color5;
  padding-left: 4px; //flub
}

/* firebase loading */
.mdl-shadow--2dp {
  box-shadow: none;
}

.firebaseui-info-bar {
  margin-top: 20px;
}

div.mdl-progress::after {
  display: block;
  color: black;
  content: "Authenticating";
  margin: 20px auto;
  text-align: center;
}

.mdl-progress {
  height: 5px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #round-print, #round-print * {
    visibility: visible;
  }
  #round-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

/* prevent mask from cutting off animation */
#navigation-carousel {
 
  .carousel-item-next,
  .active.carousel-item-right,
  .carousel-item-prev,
  .active.carousel-item-left {
    min-height: 90vh;
  }
}